* {
    font-family: sans-serif;
}

img {
    display: flex;
    margin-bottom: 30px;
    justify-content: flex-start;
}

.hidden {
    display: none;
    margin-top: 30px;
    font-size: 24px;
}

.maintext {
    margin: 20px;
}