
body {
    background-color: orange;
    font-family: 'Ubuntu', sans-serif;      
}

img {
    display: flex;
    margin-bottom: 20px;
    justify-content: flex-start;
}

.hidden {
    display: none;
    font-size: 24px;
    letter-spacing: 10px;
}

.maintext {
    display: flex;
    margin: 24px;
    margin-top: 20px;
    font-size: 24px;
    letter-spacing: 2px;
}

.button {
    font-size: 14px;
    border: solid black 1px;
    text-align: center;
    cursor: pointer;
    background-color: white;
}