img {
    display: flex;
    margin-bottom: 30px;
    justify-content: flex-start;
}

.hidden {
    display: none;
    margin-top: 30px;
    font-size: 22px;
    text-transform: uppercase;
}

.span-display {
    display: flex;
    margin-left: 15px;
    font-size: 22px;
}

.maintext {
    margin: 20px;
}